
/*Applying suitable background gradient to page*/
body{
	background: linear-gradient(to bottom right,#408DBB,#A9DAF8);
	height: 100%;
	margin: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/*This part styles the html div that covers the whole main page until it loads*/
#preloader  {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #fefefe;
     z-index: 99;
     height: 100%;
 }

/*This part styles the text and loader gif*/
#status  {
     width: 200px;
     height: 200px;
     position: absolute;
     left: 50%;
     top: 50%;
     background-image: url(ajax-loader.gif);
     background-repeat: no-repeat;
     background-position: center;
     margin: -100px 0 0 -100px;
 }
